# Build
/target/

# IDEs
**/*.rs.bk
**/*.swp
/.vscode/
/.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Cargo files
Cargo.lock

# Owners
/owners/

# Wallet
/referrer_counter/
/wallets/

# Blockchain
blockchain.json

# Exempt fees addresses
exempt_fees_addresses.json

# Env files (si tu en as)
.env

# Vault storage
/vault-data/
init_vault.ps1
shariks_policy.hcl
vault.hcl

# Snapshot
/snapshots/
